/* Color Variables */
$lightGray: #F3F3F3;
$darkGray: #B8B8B8;
$textHeadColor: #585858;
$textGeneralColor: #888888;
$greenBtn: #00B2AD;
$darkBlue: #2C3E50;
$basicPackageColor: #F6A623;
$proPackageColor: #D75F5F;
$redDanger: #D75F5F;
$tabGeneral: #EDEDED;
$tabNotSelect: #D8D8D8;
$listBG: #585858;

/* Size Variables */

$textHeadSize: 4.4rem;
$textGeneralSize: 2rem;
