.modal-signin {
  position: fixed;
  z-index: 6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all 0.3s ease-out;

  &-openModal {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  .form {
    margin-top: 3.8rem;
    margin-bottom: 6.3rem;
    background-color: $lightGray;
    border-radius: 8px;
    box-shadow: 0px 4px 7px 4px rgba(0,0,0,0.29);

    .headerForm {
      background-color: $darkGray;
      border-radius: 8px 8px 0px 0px;
      position: relative;

      &-success {
        background-color: $greenBtn;
      }

      .headerSignIn {
        margin: 0;
        padding: 20px 0px;
        font-size: 2.4rem;
        color: white;
      }

      .closeIcon {
        font-size: 2.5rem;
        color: white;
        position: absolute;
        top: 2rem;
        right: 3rem;
      }
    }

    .formMain {
      margin: 3rem 6rem;

      .cautionSignIn{
        font-size: $textGeneralSize;
        color: $redDanger;
        display: none;
      }

      .formField {
        max-width: 100%;
        font-size: 1.8rem;
        color: $textGeneralColor;
        height: 4.7rem;
        margin-bottom: 2rem;
        border-radius: 4px;
        border: 1px solid #979797;

        &-fail {
          border: 1px solid $redDanger;
        }

        &:focus {
          box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.25);
          outline: none;
        }
      }
    }

    .contentBox {
      .forgetPasswordSuccess {
        display: none;
        color: $textHeadColor;
        font-size: $textGeneralSize;
        padding-bottom: 3rem;
      }
    }

    .signinBtn, .forgetPasswordBtn {
      width: 100%;
      font-size: 2rem;
      background-color: $greenBtn;
      box-shadow: 0 4px 0 #009A96;
      border: none;
      border-radius: 4px;
      padding: 10px 0px;
      margin-top: 0rem;
      margin-bottom: 2rem;
      color: white;

      &:hover {
        background-color: #00CAC5;
        box-shadow: 0 4px 0 #01B2AD;
      }

      &:active {
        background-color: #00B2AD;
        box-shadow: inset 0 4px 4px #008C88;
        color: #E1E1E1;
      }

      &:focus {
        outline-style: none;
      }
    }

    .forgetPasswordBtn {
      display: none;
    }

    .forgetPassword, .wantToSignIn {
      color: $textHeadColor;
      font-size: $textGeneralSize;

      a {
        color: $textHeadColor;
        font-size: $textGeneralSize;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 0rem;
        border-bottom: 1px solid $textGeneralColor;
      }
    }

    .wantToSignIn {
      padding-bottom: 3rem;
    }

    hr {
      margin: 2rem 0;
      height: 1px;
      color: #979797;
      background-color: #979797;
      border: none;
    }

    .signinSocial {
      margin-top: 3rem;
      margin-bottom: 2rem;
      font-size: 2.4rem;
      color: $textHeadColor;
    }

    .fbBtn {
      width: 100%;
      font-size: 2rem;
      background-color: #3B5998;
      box-shadow: 0 4px 0 #283F6F;
      border: none;
      border-radius: 4px;
      padding: 10px 0px;
      margin-top: 0rem;
      margin-bottom: 2rem;
      color: white;

      &:hover {
        background-color: #4062AB;
        box-shadow: 0 4px 0 #3E578C;
      }

      &:active {
        background-color: #3B5998;
        box-shadow: inset 0 4px 4px #304B81;
        color: #E1E1E1;
      }

      &:focus {
        outline-style: none;
      }
    }

    .gplusBtn {
      width: 100%;
      font-size: 2rem;
      background-color: #DE4B39;
      box-shadow: 0 4px 0 #A53325;
      border: none;
      border-radius: 4px;
      padding: 10px 0px;
      margin-top: 0rem;
      margin-bottom: 4rem;
      color: white;

      &:hover {
        background-color: #D95848;
        box-shadow: 0 4px 0 #AE4F43;
      }

      &:active {
        background-color: #CB4332;
        box-shadow: inset 0 4px 4px #962E21;
        color: #E1E1E1;
      }

      &:focus {
        outline-style: none;
      }
    }
  }
}
