/* Background of navbar*/
.bg-nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  transition: all 0.5s ease-out;

  &-scrollStyle {
    background-color: $darkBlue;
    padding-bottom: 1.75rem;
    padding-top: 2.75rem;

    @mixin Small {
      padding-top: 2rem;
    }
  }
}

/* Navbar */
.nav-alist {
  .menu {
    display: inline-block;
    margin-left: 3rem;

    @mixin Small {
      display: block;
      margin-bottom: 7rem;
      margin-left: 0rem;
    }

    a {
      font-size: $textGeneralSize;
      color: white;
      &:hover {
        text-decoration: none;
      }

      @mixin Small {
        font-size: 2.5rem;
      }
    }

    .signIn {
      border: 1px solid white;
      border-radius: 4px;
      padding: 0.8rem 2.5rem;
      transition: background-color 0.5s, border 0.5s;

      &:hover {
        background-color: $greenBtn;
        border: 1px solid $greenBtn;
        cursor: pointer;
      }

      &:focus {
        text-decoration: none;
      }

      @mixin Small {
        padding: 0.8rem 8rem;
      }
    }
  }

  .hamburgerBtn {
    display: none;
    font-size: 2.5rem;
    color: white;
    position: absolute;
    top: 0rem;
    right: 3rem;
    transition: top 0.5s ease-out;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }

    &:focus {
      text-decoration: none;
    }

    @mixin Small {
      display: block;
    }
  }
}


/* Navbar menu for phone screen*/
.nav-menu {
  @mixin Small {
    position: fixed;
    background-color: $darkBlue;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10rem;
    padding-left: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: visibility 0.3s, transform 0.3s, opacity 0.3s;

    &-show {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }

  ul {
    @mixin Small {
      padding-left: 0;
    }
  }
}
