.test-alist {
  margin-top: 6rem;
  margin-bottom: 5rem;

  .headerTopic {
    color: $textHeadColor;
    font-size: $textHeadSize;

    @mixin Small {
      font-size: 4rem;
      padding: 0 1rem;
    }
  }

  .testBtn {
    width: 29rem;
    color: white;
    font-size: 3rem;
    background-color: $greenBtn;
    box-shadow: 0 4px 0 #009A96;
    border: none;
    border-radius: 4px;
    padding: 10px 0px;
    margin-top: 1.7rem;
    margin-bottom: 3.4rem;

    &:hover {
      background-color: #00CAC5;
      box-shadow: 0 4px 0 #01B2AD;
    }

    &:active {
      background-color: #00B2AD;
      box-shadow: inset 0 4px 4px #008C88;
      color: #E1E1E1;
    }

    &:focus {
      outline-style: none;
    }
  }
}
