.testimonial-alist {
  margin-top: 5rem;
  background-color: $lightGray;
  padding-top: 4.5rem;
  padding-bottom: 7.5rem;

  .headerTopic {
    color: $textHeadColor;
    font-size: $textHeadSize;
  }

  .subTopic {
    color: $textGeneralColor;
    font-size: $textGeneralSize;
  }

  .testimonial {
    padding-top: 3.5rem;

    .content {
      font-family: prompt;
      color: $textGeneralColor;
      font-size: $textGeneralSize;
    }

    .people {
      margin-top: 4rem;

      @mixin Small {
        margin-top: 1rem;
      }

      .nameBox {
        @mixin Medium {
          margin-top: 2rem;
        }

        @mixin Small {
          margin-top: 1rem;
          margin-bottom: 4rem;
        }
        p {
          font-size: $textGeneralSize;
          color: $textHeadColor;
          margin:0;

          @mixin Medium {
            text-align: center;
          }
        }
      }
    }
  }


}
