.features-alist {
  .headerTopic {
    color: $textHeadColor;
    font-size: $textHeadSize;
  }

  .subTopic {
    color: $textGeneralColor;
    font-size: $textGeneralSize;
  }

  .feature {
    margin-top: 5rem;
    margin-bottom: 5rem;

    .headerFeature {
      color: $textHeadColor;
      font-size: 3rem;
    }

    .contentFeature {
      color: $textGeneralColor;
      font-size: $textGeneralSize;
    }
  }
}
