.price-alist {
  background-color: $lightGray;
  border-radius: 8px;
  box-shadow: 2px 5px 11px rgba(0,0,0,0.37);
  color: $textGeneralColor;
  font-size: $textGeneralSize;
  padding: 3rem 3rem;
  margin-top: 8rem;
  position: relative;

  .header {
    font-size: 3rem;
    color: $textHeadColor;
    margin-bottom: 1.5rem;
    h2 {
      margin:0;
    }
  }

  .basicTag {
    color: $basicPackageColor;
    border: 1px solid $basicPackageColor;
    border-radius: 5px;
    padding: 0 1rem;
    position: absolute;
    top: 3rem;
    right: 3.5rem;
  }

  .proTag {
    color: $proPackageColor;
    border: 1px solid $proPackageColor;
    border-radius: 5px;
    padding: 0 1.7rem;
    margin-left:13rem;
    position: absolute;
    top: 3rem;
    right: 3.5rem;
  }

  .description {
    font-size: $textGeneralSize;
  }

  .feature {
    padding-left: 0;
    margin-top: 2rem;

    .styleIconBasic {
      color: $basicPackageColor;
      margin-right: 2.3rem;
    }

    .styleIconPro {
      color: $proPackageColor;
      margin-right: 2.3rem;
    }

    li {
      font-size: $textGeneralSize;
      list-style: none;
      margin-bottom: 1.2rem;
    }
  }

  .price {
    font-size: $textGeneralSize;
    margin-top: -2rem;
    span {
      font-size: 8.5rem;
    }
  }

  .basicButton {
    margin-top: -2rem;
    background-color: $basicPackageColor;
    width: 100%;
    height: 6rem;
    color: white;
    box-shadow: 0 4px 0 #CD8C23;
    border:none;
    border-radius: 3px;

    &:hover {
      background-color: #FAB543;
      box-shadow: 0 4px 0 #D69E44;
    }

    &:active {
      background-color: #D78F18;
      box-shadow: inset 0 4px 4px #9D6B1B;
      color: #E1E1E1;
    }

    &:focus {
      outline-style: none;
    }
  }

  .proButton {
    margin-top: -2rem;
    background-color: $proPackageColor;
    width: 100%;
    height: 6rem;
    color: white;
    box-shadow: 0 4px 0 #AC3B3B;
    border:none;
    border-radius: 3px;

    &:hover {
      background-color: #E27878;
      box-shadow: 0 4px 0 #C55F5F;
    }

    &:active {
      background-color: #C25454;
      box-shadow: inset 0 4px 4px #913838;
      color: #E1E1E1;
    }

    &:focus {
      outline-style: none;
    }
  }
}
